.usersWrapper {
    padding: 15px;
}
.avatar {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.button {
    margin-bottom: 10px;
}
.currentPage {
    font-weight: bold;
    color: yellow;
}
.pagesWrapper {
    padding: 5px;
    margin: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
}